* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.header {
  font-size: 2.5em;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* STYLING CATS */

.cat-container {
  margin: 35px 0;
}

.cat-name {
  margin: 10px 0;
}

.cat-img {
  width: 30%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/* STYLING SCORE */
.score {
  display: block;
  font-size: 1.5em;
  margin: 10px;
}

/* STYLING DROPDOWN BUTTON */

.cat-selection {
  margin-bottom: 20px;
}

/* STYLING ADMIN MENU */

.menu-container {
  display: none;
  text-align: center
}

form {
  margin: 32px 0;
}

.menu input {
  display: inline-block;
}

/* Dropdown Button from https://www.w3schools.com/howto/howto_js_dropdown.asp */
.btn {
  background-color: #3498DB;
  color: white;
  width: 128px;
  height: 48px;;
  border: none;
  cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
.btn:hover, .btn:focus {
  background-color: #2980B9;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* MENU BUTTONS */

.menu-btn {
  width: 86px;
  height: 36px;
}
